@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

html {
  font-size: 14px;
}

body {
  font-family: "Roboto Mono", monospace;
  background-color: hsl(0, 0%, 84%);
  color: hsl(36, 81%, 15%);
}
