@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

/* html {
  font-size: 16px;
} */

body {
  font-family: "Roboto Mono", monospace;
  background-color: hsl(0, 0%, 84%);
  color: hsl(36, 81%, 15%);
}

.bg-primary,
.btn-primary {
  background-color: hsl(36, 74%, 50%) !important;
  color: hsl(0, 17%, 91%);
}

.bg-subtle {
  background-color: hsl(0, 2%, 80%);
}

.text-primary {
  color: hsl(36, 74%, 50%) !important;
}
